{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block scripts %}
    <script type="module" src="./static/scripts/register.js"></script>
{% endblock %}

{% block main %}
    <p class="title animated bounceInLeft">Register</p>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 my-3">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#username-requirements">
                    Username requirements
                </button>
                <div class="modal fade" id="username-requirements" tabindex="-1" aria-labelledby="username-label" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-center" id="username-label">Username requirements</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                - Username first character must be a letter.<br>
                                -Username consists of alphanumeric characters lowercase, or uppercase.<br>
                                - Username allowed of the dot, underscore, and hyphen.<br>
                                - The dot, underscore, or hyphen must not be the last character.<br>
                                - The dot, underscore, or hyphen does not appear consecutively<br>
                                - The number of characters must be between 5 to 20.<br>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary w-100" data-dismiss="modal">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 my-3">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#password-requirements">
                    Password requirements
                </button>
                <div class="modal fade" id="password-requirements" tabindex="-1" aria-labelledby="password-label" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-center" id="password-label">password requirements</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                - Password consists of alphanumeric characters, lowercase, or uppercase.<br>
                                - The number of characters must be between 8 to 10.<br>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary w-100" data-dismiss="modal">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form action="/register" method="post">
        <div class="form-group">
            <p class="error-message" id="username_error"></p>
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" id="username" type="text">
        </div>
        <div class="form-group">
            <p class="error-message" id="password_error"></p>
            <input class="form-control" name="password" placeholder="Password" id="password" type="password">
        </div>
        <div class="form-group">
            <p class="error-message" id="confirmation_error"></p>
            <input class="form-control" name="confirmation" placeholder="Confirm your password" id="confirmation" type="password">
        </div>
        <button class="btn btn-primary mt-4" id="register-button" type="submit">Register</button>
    </form>
{% endblock %}
